.header
{
    position:fixed;
    height:55px;
    display: flex;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 50px;
    border-top: 2px dashed #00FF00;
    border-bottom: 2px dashed #00FF00;
    font-weight: bold;   
    z-index: 1000;            
    background-color: #000;  
}


