.header
{
    height:55px;
    display: flex;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
    border-top: 2px dashed #00FF00;
    border-bottom: 2px dashed #00FF00;
}


